html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Chuẩn bị cho Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin : 0 auto;
}

.grid__full-width {
    width : 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Css test,đến khi responsive nếu cần sẽ sửa */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
    box-sizing: border-box;
}
.grid__column-2-in-column-10{
    box-sizing: border-box;
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
    box-sizing: border-box;
}

:root {
    --white-color : #fff;
    --primary-color: #ee4d2d;
    --text-color: #000;
    --border-color: #dbdbdb;
    --gold-star:#ffce3e;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

/* ANIMATION */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes grow{
    from {
        transform: scale(var(--grow-from));
    }
    to {
        transform: scale(var(--grow-to));
    }
}

/* Modal CSS */
.modal{
    position: fixed;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    display: flex;
    /* display: none; */
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn linear 0.2s;
}
.modal__body{
    /* width: 300px;
    height: 300px; */
    background-color: var(--white-color);
    margin: auto;
    border-radius: 5px;
    position: relative;
    --grow-from: 0.7;
    --grow-to : 1;
    animation: grow ease-in 0.2s;
}

/* BUTTON STYLE */
.btn {
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding : 0 8px;
    box-sizing: border-box;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.btn.btn--small-size{
    height: 30px;
    font-size: 12px;
    padding : 0px 8px;
}
.btn.btn-primary{
    color : var(--white-color);
    background-color: var(--primary-color);
    border: none;
}
.btn.btn--disable {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

/* Selection */
.select-input{
    position: relative;
    height: 34px;
    padding: 0 12px;
    background-color: var(--white-color);
    border-radius: 2px;
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
}

.select-input__label{
    font-size: 1.4rem;
}
.select-input__icon{
    font-size: 1.4rem;
    color: rgb(131,131,131);
    position: relative;
    top:1px;
}
.select-input__list{
    position: absolute;
    left: 0px;
    right: 0px;
    top:26px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}
.select-input__list::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top:-6px;
    right: 0px;
    background-color: transparent;
}
.select-input__item{

}
.select-input__link{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0px;
}
.select-input__link:hover{
    color: var(--primary-color);
}
.select-input:hover .select-input__list{
    display: block;
}
