#content {
    /* min-height: 500px; */
    padding-top: 36px;
    background-color: #fff;
}
#content .content-area{
    min-height: 500px;
    position: relative;
}
#content .content-product-area{
    width: 83.3333%;
    position: absolute;
    right: 0px;
    background-color: #fff;
}
#content .content-product-filter{
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: #ebebeb;  
    box-sizing: border-box;
}
#content .product-filter-title{
    display: inline-block;
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
    height: 34px;
    align-items: center;
    display: flex;
}
#content .content-product-filter button{
    margin-right: 12px;
    font-size: 1.5rem !important;
}
#content .product-price-order-filter {
    background-color: #fff;;
    align-items: center;
    display: flex;
    min-width: 200px;
    justify-content: space-between;
    height: 34px;
    cursor: pointer;
    position:relative;
}
#content .product-price-order-filter:hover .price-by-order-choices{
    display: block;
}
#content .price-by-order-choices{
    position: absolute;
    top: 34px;
    left: 0px;
    background-color: #fff;
    min-width: 200px;
    padding : 8px 16px;
    box-sizing: border-box;
    display: none;
    border-top: 1px solid #ccc;
}
#content .price-by-order-choices  a{
    font-size: 1.4rem;
    text-decoration: none;
    color: #000;
    margin : 0px;
    padding : 4px 0px;
    display: block;
}
#content .price-by-order-choices a:hover {
    color: #fb5731;
}


#content .product-price-order-filter p {
    font-size: 1.4rem;
    padding-left: 12px;
}
#content .product-price-order-filter i {
    font-size: 1.4rem;
    float: right;
    padding-right: 12px;
}
#content .on-page-number{
    margin-right: 22px;
}
#content .on-page-number span {
    font-size: 1.5rem;
}
#content .product-filter-page {
    display: flex;
    margin-left: auto;
}
#content .filter-page-control{
    height: 34px;
    display: flex;
    width: 72px;
    border-radius: 2px;
    margin-left: auto;
}
#content .filter-page-control-back,
#content .filter-page-control-next{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    cursor: pointer;
}
#content .filter-page-control i{
    font-size: 1.4rem;
}
#content .filter-page-control-back{
    background-color: #f9f9f9;
    border-right: 1px solid #eee;
}
#content .filter-page-control-back i{
    color:#ccc;
}
#content .filter-page-control-next{
    background-color: #fff;
}


#content .content-product-list-area{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#content .product-item-area{
    max-width: 20%;
    padding: 0px 5px;
    box-sizing: border-box;
    margin-top: 5px;
}
#content .product-item{
    text-decoration: none;
    color: #000;
}
#content .product-item-img {
    width: 100%;;
}
#content .product-item-title {
    margin: 10px 10px 10px 6px;
    font-size: 1.4rem;
    font-weight: 400; 
    line-height: 1.8rem;
    height: 3.6rem;
    color : #333;
}
#content .produc-item-price {
    display: flex ;
    margin: 0px 10px;
    flex-wrap: wrap;
}
#content .produc-item-price .origin-price p{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin : 0px;
}
#content .produc-item-price .saled-price p{
    font-size: 1.6rem;
    color: #fb5731;
    margin: 0px 0px 0px 10px;
}

#content .product-item-action {
    display: flex;
    align-items: center;
    margin: 6px 10px 0px 10px;
    justify-content: space-between;
}
#content .product-rating-area {
    display: flex;
}
#content .product-item-action .fa-heart {
    font-weight: 900;
    font-size: 1.3rem;
    color: #fb5731;
}
#content .product-item-action .fa-star {
    font-size: 0.9rem;
    color:#ffce3e;
}
#content .product-item-action .number-sold {
    font-size: 1.2rem;
    color: #333;
    margin: 0px 0px 0px 6px;
    justify-self: flex-end;
}
#content .product-item-origin {
    display: flex;
    margin: 0px 10px;
    justify-content: space-between;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}