#footer {
    width : 100%;
    border-top: 5px solid #ee4d2d;
    display: block;
}
#footer .footer-area {
    min-height: 100px;
}
#footer .footer-h1-area h1 {
    font-size: 1.4rem;
    margin: 14px 0px;
    text-transform: uppercase;
    font-family: Roboto ,sans-serif;
    font-weight: 600;
}
#footer .footer-column-list {
    padding-left: 0px;
}
#footer .footer-column-item a{
    font-size: 1.2rem;
    color: #737373;
    padding : 2px 0px;
    display: flex;
    align-items: center;
}
#footer .footer-column-item i {
    font-size: 1.6rem;
    margin-right: 8px;
}
#footer .footer-column-item:hover a {
    color : #ee4d2d;
}
#footer .footer-link-to-store {
    display: flex;
    width: 20%;
}
#footer .google-play-app-store-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#footer .footer-qr-code {
    width: 80px;
    margin-right: 16px;
}
#footer .footer-google-play,
#footer .footer-app-store {
    height: 16px;
}
#footer .footer-end{
    background-color: #f5f5f5;
    position:absolute;
    width: 100%;
    text-align: center;
    margin-top: 36px;
}
#footer .footer-end-content {
    color:#737373;
    font-size: 1.2rem;
    margin:8px;
}