#header {
    width: 100%;
    min-height: 100px;
    background-color: #fb5731;
}
#header .header-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#header .navigation-left {
    /* justify-self: flex-start; */
    display: inline-block;
    box-sizing: border-box;
    padding : 0px;
}
#header .navigation-right {
    /* justify-self: end; */
    display: block;
    /* float: right; */
    box-sizing: border-box;
    padding : 0px;
}
#header .header-navigation ul {
    padding : 0px;
}
#header .header-navigation li {
    font-size: 13px;
    color : #fff;
    padding : 0px 8px 0px 8px;
}
#header .header-navigation a {
    font-size: 13px;
    color : #fff;
}

#header .link-to-store {
    background-color: #fff;
    width: 186px;
    display: block;
    padding: none !important;
    position: absolute;
    /* margin-top:12px; */
    display: none;
    cursor: pointer;
}
#header .qr-code-area {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top:8px;
}
#header .qr-code {
    width: 170px;
    /* height: 170px; */
    padding: none;
}
#header .google-play-app-store-area {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}
#header .google-play ,
#header .app-store{
    height: 16px;
}

#header .hover-to-store:hover .link-to-store{
    display: block;
}

#header .notification-box-area {
    background-color: #fff;
    position: absolute;
    right: 0px;
    width: 404px;
}
#header .notification-box-area h1 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;   
}

#header .navigation-left li:nth-child(2){
    border-left: 1px solid #ccc;
}

#header .header-with-search {
    /* margin: 0px 8px 0px 8px; */
    display: flex;
    align-items: center;
    padding : 16px 0px;
}
#header .header-search-area {
    border-radius: 2px;
    flex: 1;
}
#header .header-logo{
    width: 150px;
    margin-left: 8px;
    padding-right: 50px;
}
#header .header-logo img{
    width: 100%;
}
#header .header-search-area {
    background-color: #fff;
    justify-self: center;
    height: 40px;
    display: flex;
    align-items: center;
    /* width: 100%; */
}
#header .header-search-input {
    padding : 0px 16px;
    flex: 1;
}
#header .header-search-area input {
    border: none;
    /* padding : 0px 16px; */
    font-size: 1.5rem;
    line-height: 1.15;
    height: 38px;
    outline: none;
    width: 100%;
}
#header .header-search-status {
    padding-left: 16px;
    border-left: 1px solid #ccc;
    cursor: pointer;
}
#header .header-search-status p {
    font-size: 1.4rem;
    margin : 0;
}
#header .header-search-status i {
    margin:0 16px 0 8px;
    color: rgb(131, 131, 131);
}
#header .header-search-button {
    background-color: #fb5731;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    margin-right: 3px;
    border-radius: 3px;
    cursor: pointer;
}
#header .header-search-button i {
    color: #fff;
    font-weight: 900;
    font-size: 1.4rem;
}
#header .header-cart {
    width: 150px;
    text-align: center;
}
#header .header-cart i {
    color : #fff;
    font-size: 2.4rem;
}